.movie{
    width: 350px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #F8F9FA;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}

.poster{
    width: 240px;
    border-radius: 10px;
    height: 320px;
}

.title{
    word-wrap: break-word;
    font-size: 20px;
    color: black;
    line-height: 25px;
}

.movie:hover{
    background-color: #8f8f8f;
    cursor: pointer;
}

.movie:hover .title{
    color: white;
}
