.movie{
    width: 350px;
    height: 75px;
    border-radius: 10px;
    background-color: #F8F9FA;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    word-wrap: break-word;
    font-size: 20px;
    color: black;
    line-height: 75px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie:hover{
    background-color: darkcyan;
    cursor: pointer;
    color: white;
}
