.wrapper{
    background-color: darkcyan;
}

.searchBox{
    height: auto;
    padding: 0 20px 20px;
    background: #0c5460;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.header{
    text-align: center;
    color: #ffffff;
    font-family: "Lucida Calligraphy", serif;
    margin-bottom: 5px;
    font-size: 30px;
}

.userInput{
    width: 560px;
    height: 40px;
    font-size: 20px;
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ffffff;
    text-overflow: ellipsis;
}

.listWrapper{
    width: 556px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    border: 2px solid #ffffff;
    overflow-y: auto;
    position: relative;
    max-height: 350px;
    margin: 0 auto;
}

::-webkit-scrollbar{height: 10px; width: 10px; background: #0c5460;}

::-webkit-scrollbar-thumb {background: #ffffff; border: 1px solid #0c5460}

.card-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #0c5460;
    border-radius: 10px;
}
