.buttonArea{
    margin-bottom: 20px;
}

.buttonBar{
    width: 200px;
    height: 40px;
    background: #5e4f96;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #5e4f96;
    font-family: Arial, serif;
    font-size: 25px;
    color: white;
}

.buttonBar:hover{
    cursor: pointer;
    box-shadow: inset 0 0 5px 2px black;
}

.buttonBar:active{
    transform: translate(2px, 2px);
}

.active{
    color: #00ff00;
}
